.app-root {
  height: 100vh;
  width: 100vw;
  display: flex;
}

body {
  margin: 0;
}

.container-menu {
  margin: 10px;
  width: calc(20% - 20px);
}

h3 {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  text-align: center;

}

